# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
.venv/

# Git and editor artifacts
.git/
.gitignore
.vscode/
.idea/

# Local env and logs
.env
*.log

# Django build/static artifacts
staticfiles/

# Local database
db.sqlite3

# Docker artifacts
*.tar
